@{
    ViewData["Title"] = "BlackJack";
}

<h2>Welcome to BlackJack!</h2>
<p>Click Play to start a new round.</p>

<form method="post" asp-action="Start">
    <button type="submit">Play</button>
</form>